/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/

header {
  padding: 5px 0;
}
.logo{
	width: 65px;
}
.logo_h1{
font-size: 20px;

}
.menu ul li a {
  padding: 0 5px 5px !important;  
}
.btn_sign_in {
  margin-left: 0;}

  /*banner start*/

.banner{
  padding-bottom: 60px;
}
 .b_text {
  text-align: center;
} 
  .b_h1 {
  margin: 10px 0 20px !important;
  font-size: 35px;
 line-height: 50px;
}
.b_p2 {
   margin: 0 ;
  line-height: 30px;
}
.b_img {
  margin: 0 50px 30px;
}	
/*feature start*/
.pb_100{
  padding-bottom: 60px;
}
.f_item{
  margin: 30px 0 0;
}
.f_img{
  width: 65px;
  height: 70px;
}
.f_h2{
  font-size: 20px;
}
/*course start*/
.c_title h1 {
  font-size: 25px;}


.co_item {
  margin: 30px 0 0;
} 
.co_h2{
  font-size: 22px;
}
 .co_left img,.co_right img{
    width: 18px;
  }
  .co_left span,.co_right span{
    font-size: 14px;
  }
/*course end*/
/*testimonial start*/
.testimoni{
  padding-bottom: 60px;
}
.t_item{
  margin-top: 30px;
}
.t_img{
  padding: 0 60px 20px;
}
.t_text{
  text-align: center;
}
/*footer top*/
.footer_top{
  text-align: center;
  padding: 55px 0 20px;
}
.ft_details{
margin-bottom: 35px;
padding-right: 0;
}
.ft_links{
  margin-bottom: 35px;
}
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
/*header start*/

header {
  padding: 5px 0;
}
.logo{
  width: 65px;
}
.logo_h1{
font-size: 20px;
}
.menu ul li a {
  padding: 0 5px 5px !important;  
}
.btn_sign_in {
  margin-left: 0;}

  /*banner start*/
.banner{
  padding-bottom: 60px;
}
 .b_text {
  text-align: center;
} 
  .b_h1 {
  margin: 10px 80px 20px;
  font-size: 35px;
 line-height: 50px;
}
.b_p2 {
   margin: 0 45px;
  line-height: 30px;
}
.b_img {
  margin: 0 50px 30px;
}
/*feature start*/
.pb_100{
  padding-bottom: 60px;
}
.f_item{
  margin: 30px 0 0;
}
.f_img{
  width: 65px;
  height: 70px;
}
.f_h2{
  font-size: 20px;
} 
/*course start*/
.c_title h1 {
  font-size: 25px;}
.co_item {
  margin: 30px 50px 0;
} 
.co_h2{
  font-size: 22px;
}
/*course end*/
/*testimonial start*/
.testimoni{
  padding-bottom: 60px;
}
.t_item{
  margin-top: 30px;
}
.t_img{
  padding: 0 120px 20px;
}
.t_text{
  text-align: center;
}
/*footer top start*/
.footer_top{
  text-align: center;
}
.ft_details{
  margin-bottom:35px ;
  padding-right: 70px;
  padding-left: 70px;
}
}


   


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /*header start*/
header {
  padding:10px 0;
}
.menu ul li a {
  padding: 0 5px 5px !important;  
}
.btn_sign_in {
  margin-left: 0;}
  /*banner start*/

 .b_text {
  text-align: center;
} 
  .b_h1 { 
  margin: 10px 150px 20px !important;
  font-size: 40px;
line-height: 65px;
}
.b_p2 {
   margin: 0 110px;
  line-height: 30px;
}
.b_img {
  margin: 0 50px 30px;
}
/*feature start*/
.pb_100{
  padding-bottom: 80px ;
}
/*feature end*/
/*course start*/
.c_title h1 {
  font-size: 30px;}
 .co_item {
  margin: 40px 140px 0;}

/*course end*/ 
/*testimonial start*/

 .testimoni{
  padding-bottom: 80px;
 } 

/*footer top start*/
.footer_top{
  text-align: center;
}
.ft_details{
  margin-bottom:35px ;
  padding-right: 80px;
  padding-left: 80px;
}
}



/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
 /*banner start*/
  .b_h1 {
  margin: 10px 55px 20px 0 !important}
  /*cours start*/ 
  .co_item{
   padding:20px 15px 25px;
  }
  .co_left img,.co_right img{
    width: 20px;
  }
  .co_left span,.co_right span{
    font-size: 15px;
  }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px){
  /*banner start*/
  .b_h1 {
  margin: 10px 45px 20px 0 !important}

 

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
/*footer top start*/
.ft_details{
  padding-right: 130px;
} }